API_URL=http://auth:5000
DEBUG=0
PROPAGATE_EXCEPTIONS=1

SECRET_KEY=2
SECURITY_PASSWORD_SALT=1
SECURITY_SEND_REGISTER_EMAIL=0

JWT_SECRET_KEY=3

SQLALCHEMY_DATABASE_URI=postgres://username:password@host:port/dbname

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
